/* 
declaration blocks:

selector{
property: values;
property2: values; 
}
*/

body{
background-color: black;
color: red;

}

nav{
    height: 600;
width: 400px;
float: left;
padding: 5px;
line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    /* this is needed for the image to move around */
    position: absolute;
    margin-right: 200px;
    width: 200px;
}

h1{
    text-align: center;
}

h2{
    margin-top: 350px;
}