/* 
declaration blocks:

selector{
property: values;
property2: values; 
}
*/

body{
background-color: black;
color: red;

}


footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    /* this is needed for the image to move around */
    position: absolute;
    margin-right: 200px;
    width: 200px;
}

h1{
    text-align: top left;
}

h2{
    margin-top: 350px;
}

Table{
    border: 2px solid white;
    /* this will cause multiple overlapping borders to collapse into a single border */
    border-collapse: collapse;
}

tr{
    border: 2px solid white;
}

td{
    padding: 5px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    color:aqua;
    background-color: cadetblue;
}

/* meun styles */
/* nav a - these styles will only apply to anchor tags in the nav section */
nav a{
 text-decoration: none;
    color: red;
    font-size: x-large;
    
}

